<div class="col-sm-12">
  <h4 i18n="@@homePageTitle">Shopping Cart</h4>
  <div body class="">
    <p i18n="@@homePageDescription">The software allows online shopping customers to accumulate a list of items for purchase. At the point of sale, the software typically calculates a total for the order, including freight transport, postage as well as packaging and labeling. Associated taxes are calculated as applicable. The data is used in online marketing..</p>
    <p i18n="@@homePageCopyRight">Information copy rights @Wiki-pedia</p>
  </div>
</div> 