
<hr/>
<div class="button-group">
  <h4>Product list from store</h4>
  <button type="submit" [routerLink]="['/product/crud']" routerLinkActive="router-link-active" mat-raised-button>+ Create new product</button>
</div>
<hr/>
<div class='product-page-wrapper'>
  <div *ngIf="listStore$ | async as list; else nodata">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-bordered">
          <tr class="bg-secondary" *ngFor="let item of lableList">
            <th>{{item.Id}}</th>
            <th>{{item.ProductName}}</th>
            <th>{{item.Quantity}}</th>
            <th>{{item.price}}</th>
            <th>{{item.Stock}}</th>
            <th>{{item.Date}}</th>    
          </tr>
          
          <tr *ngFor="let item of list">
            <td class="ProductId">{{item.id}}</td>
            <td class="ProductName"><a  [routerLink]="['/product/detail', item.id]"
              routerLinkActive="router-link-active">{{item.productName}}</a></td>
            <td class="ProductUnit">{{item.quantity}}</td>
            <td class="ProductPrice">{{item.price | currency:"₹"}}</td>
            <td class="ProductUnit"><span *ngIf="item.stock == true">Yes</span> <span *ngIf="item.stock == false">No</span></td>
            <td class="ProductUnit">{{item.datepicker | date}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<ul>
  <ng-template #nodata>
    <li>
      Loading
    </li>
  </ng-template>
</ul>
