.header-wraper {
  background-color: #1f93ce;
  color: #ffffff;
  padding: 10px;
  margin: 10px 0;
}
.topleft {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topleft a i {
  vertical-align: top;
}

.header-wraper a, .btn {
  color: #ffffff;
}
mat-grid-tile {
  background: lightblue;
}
mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
}
a.button.fancy-button{
  position: relative;
}
.badge{
    position: absolute;
    top: -21px;
    right: -9px;
}

