<div class="header-wraper">
  <div class="topleft">
    <a [routerLink]="['/']" matTooltip="My Store">
      <h2 i18n="@@appTitle">My Ngrx Store</h2>
    </a>
    <div class="header-wraper">       
      <button i18n="@@buttonHome" mat-button matTooltip="Home" [routerLink]="['./home']" routerLinkActive="router-link-active">Home</button>
      <button i18n="@@buttonProducts" mat-button matTooltip="Products" [routerLink]="['./list']" routerLinkActive="router-link-active">Products</button>
      <!-- <a routerLink="/products/cart" class="button fancy-button warn"><i class="material-icons">shopping_cart</i>           
        <span class="badge badge-warning">{{cartvalueLength}}</span>        
       </a> -->
    </div>    
  </div>
</div>


<!-- <router-outlet></router-outlet> -->
