
<hr />
<ng-container *ngIf="id | async; then edit; else addnewOnly"> </ng-container>
<hr />
<ng-template #addnewOnly><h4>Add Product</h4></ng-template>
<ng-template #edit><h4>Product Edit</h4></ng-template>

<div class="box-shadow">
<form [formGroup]="crudForm" (ngSubmit)="onSubmit()"> 

  <div class="form-group">
    <label>ProductName</label>
    <input alt="title" formControlName="productName"  />
    <div *ngIf="f.productName.touched && f.productName.errors">
      <div *ngIf="f.productName.errors.required" class="error">
        You must enter product name
      </div>
      <div  class="error" *ngIf="f.productName.errors.pattern">Not a valid product name</div>
    </div>
  </div>

  <div class="form-group">
    <label>Price</label>
    <input alt="price" formControlName="price" />
    <div *ngIf="f.price.touched && f.price.errors">
      <div *ngIf="f.price.errors.required" class="error">You must enter price</div>
      <div *ngIf="f.price.errors.pattern" class="error">Not a valid price</div>
    </div>
  </div>

  <div class="form-group">
    <label>Quantity</label>
    <input alt="quantity" formControlName="quantity" />
    <div *ngIf="f.quantity.touched && f.quantity.errors">
      <div *ngIf="f.quantity.errors.required" class="error">You must enter product name</div>
      <div *ngIf="f.quantity.errors.pattern" class="error">Quantity should be in number</div>
      <div *ngIf="f.quantity.errors?.maxlength" class="error">
        Quantity should be only two digit
      </div>
    </div>
  </div>

  <mat-form-field>
    <label>Choose a date</label>
    <input matInput [matDatepicker]="picker" formControlName="datepicker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="f.datepicker.invalid">
      <div *ngIf="f.datepicker.errors.required" class="error">You must enter date</div>
    </mat-error>
  </mat-form-field>

  <mat-checkbox formControlName="stock">Stock</mat-checkbox>    

  <ng-container *ngIf="id | async; then crud; else addOnly"> </ng-container>
  <ng-template #addOnly>
    <div class="button-group">
      <button type="submit" alt="Submit" (click)="addItem()" [disabled]="!crudForm.valid">Create</button>
  </div>
  </ng-template>
  <ng-template #crud>
    <div class="button-group">
      <button type="submit" alt="Delete Product" (click)="deleteItem()"  [disabled]="!crudForm.valid">delete</button>
      <button type="submit" alt="Edit Product" (click)="updateItem()"  [disabled]="!crudForm.valid">edit</button>
    </div>   
  </ng-template>
</form>
</div>
<hr/>
<pre>Form status: {{crudForm.status | json}}</pre>