<!-- Intro Section -->
<section class="bg-brains p-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="h4 animated flipInY">
            <i class="fa fa-user"></i> Register Here</p>
        </div>
      </div>
    </div>
  </section>
  <!--<pre>{{user | json}}</pre>-->
  <!-- Login Form -->
  <section class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4 m-auto">
          <!-- Empty Form Alert -->
          <div *ngIf="isEmpty" class="alert alert-danger alert-dismissible animated zoomIn">
            <button class="close" data-dismiss="alert">
              <i class="fa fa-times-circle"></i>
            </button>
            <small>Please fill in the fields</small>
          </div>
          <div class="card animated jello">
            <!-- <div class="card-header bg-dark text-brains">
              <p class="h4">Register</p>
            </div> -->
            <div class="card-body bg-brains">
              <form #registerForm="ngForm" (submit)="submitRegister()">
                <div class="form-group">
                  <input
                    #username="ngModel"
                    name="name"
                    [(ngModel)]="user.name"
                    [class.is-invalid]="username.touched && username.invalid"
                    [class.is-valid]="username.touched && username.valid"
                    type="text" class="form-control" placeholder="Name"
                    required pattern="^[a-zA-Z0-9_]{3,16}$">
                  <div *ngIf="username.touched && username.invalid">
                    <small class="text-danger">Enter a proper Username</small>
                  </div>
                  
                </div>
                <div class="form-group">
                  <input
                    #email="ngModel"
                    name="email"
                    [(ngModel)]="user.email"
                    [class.is-invalid]="email.touched && email.invalid"
                    [class.is-valid]="email.touched && email.valid"
                    type="email" class="form-control" placeholder="Email"
                  required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                  <div *ngIf="email.touched && email.invalid">
                    <small class="text-danger">Enter a proper Email</small>
                  </div>
                
                </div>
                <div class="form-group">
                  <input
                    #password="ngModel"
                    name="password"
                    [(ngModel)]="user.password"
                    [class.is-invalid]="password.touched && password.invalid"
                    [class.is-valid]="password.touched && password.valid"
                    type="password" class="form-control" placeholder="Password"
                    required>
                  <div *ngIf="password.touched && password.invalid">
                    <small class="text-danger">Enter a proper Password</small>
                  </div>
                 
                </div>
                <div>
                  <input type="submit" class="btn btn-dark text-brains btn-sm" value="Register">
                </div>
                
              </form>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </section>

